<h1><%= @employee.first_name %></h1>
<p><%= @employee.last_name %></p>
<p><%= @employee.alias %></p>
<p><%= @employee.title %></p>
<p><%= @employee.office %></p>
<p><%= @employee.dog_id %></p>

<img src=<%= @employee.img_url%> >